<ng-container
  *ngTemplateOutlet="data.length ? dataTable : noData"
></ng-container>

<ng-template #noData>
  <p>No data</p>
</ng-template>

<ng-template #dataTable>
  <table class="reusable-table">
    <ng-container [ngTemplateOutlet]="t_head" />
    <ng-container [ngTemplateOutlet]="t_body" />
  </table>
</ng-template>

<ng-template #t_head>
  <thead>
    <ng-container *ngFor="let column of columns">
      <ng-container
        [ngTemplateOutlet]="t_h"
        [ngTemplateOutletContext]="{
          $implicit: column.key,
          title: column.title
        }"
      />
    </ng-container>
  </thead>
</ng-template>

<ng-template #t_body>
  <tbody>
    <tr *ngFor="let item of data" class="reusable-table__tr">
      <td
        *ngFor="let col of columns; first as isFirst; last as isLast"
        class="reusable-table__td  {{
          isFirst
            ? 'reusable-table__td_first'
            : isLast
            ? 'reusable-table__td_last'
            : ''
        }}"
      >
        {{ item[col.key] }}
      </td>
    </tr>
  </tbody>
</ng-template>

<ng-template #t_h let-column="$implicit" let-title="title">
  <th class="reusable-table__th" [attr.data-table-th]="column">
    {{ title }}
  </th>
</ng-template>
